
<div class="col-xs-12 col-md-8">
            {{#each portfolios}}
                    <div class="card col-xs-4">
                        <h4 class="card-title"> {{this}} Portfolio</h4>
                        <a href=# class="btn btn-primary card-link">Visit Portfolio</a>

                    </div>
  {{/each}}
            
        </div>